@model _2380601309_NguyenHuuDieuLy_TH6.Models.Category

@{
    ViewData["Title"] = "Sửa Danh Mục";
}

<div class="container mt-4">
    <h2>Sửa Danh Mục</h2>
    <hr />
    <form asp-action="Update" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="mb-3 col-md-6">
            <label asp-for="Name" class="form-label fw-bold">Tên Danh Mục</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
